{sub_dirs, ["rel"]}.
{cover_enabled, true}.
{lib_dirs, ["deps"]}.
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {i, "include"},
    {i, "../../include"},
    {parse_transform, lager_transform},
    {d, 'DEBUG'}]}.
{deps, [
     {emysql, "0.4.1", {git, "https://github.com/jfjalburquerque/Emysql.git", {branch, "master"}}}
     ]}.

